.page {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & h1 {
    font-weight: var(--font-medium);
    font-size: var(--text-2xl);
    text-align: center;
    padding-bottom: 2rem;
  }

  & h2 {
    padding-top: 1.5rem;
    font-size: var(--text-lg);
    text-align: center;
  }
}

.sliderFlowers {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & h2 {
    padding-top: 1.5rem;
    font-size: clamp(var(--text-xl), 4vw, var(--text-3xl));
    text-align: center;
    letter-spacing: 0.1rem;
  }
}

.whatsappButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.imageFooter {
  min-height: 130px;
  object-fit: cover;
  width: 100%;
}

.containerFlowersDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  gap: 1rem;
  padding: 1rem;

  & > h2 {
    padding-top: 1.5rem;
    color: var(--secondary-color);
    font-size: clamp(var(--text-2xl), 4vw, var(--text-4xl));
    text-align: center;
    letter-spacing: 0.1rem;
    font-weight: var(--font-semibold);
  }
}

.listDetailsFlowers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: min(100%, 1000px);
  gap: 1rem;

  & div {
    background-color: var(--main-color);
    width: min(100% - 20px, 300px);
    height: 300px;
  }
}

@media (width >= 40rem) {
  .wrapperShowAll {
    display: flex;
  }
}
