/*
 * FONT SIZES: 
 * configuración de tamaño de fuente base 16px
 */
:root {
  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;
  font-weight: var(--font-regular);
}
