.wrapperFooter {
  background-color: var(--background-footer);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: grid;
  width: min(100% - 20px, var(--max-width));
  gap: 2rem;
  align-content: center;
  justify-items: center;
  padding: 2rem 1rem;
}

.logo {
  width: 15rem;
  align-self: center;
  justify-self: center;
}

.wrapperSocialNavigation,
.wrapperWarranties {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: min(100%, 280px);

  & > h3 {
    font-size: var(--text-xl);
    font-weight: var(--font-semibold);
  }
}

.socialNavigation,
.warranties {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > a,
  li {
    display: flex;
    gap: 0.7rem;
    align-items: center;
    font-size: var(--text-lg);
    color: var(--main-color);
  }
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  background-color: var(--main-color);
  color: var(--white);
}

@media (width >= 38rem) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }

  .logo {
    grid-column: 2 span;
  }
}

@media (width >= 48rem) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
  }

  .logo {
    grid-column: 1 span;
  }
}
